<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhoneManagement.Properties.Settings.QuanLyCuaHangDienThoaiConnectionString" connectionString="Data Source=HUNGPC\HUNGSQLSERVER;Initial Catalog=QuanLyCuaHangDienThoai;Persist Security Info=True;User ID=hung2207;Password=123" providerName="System.Data.SqlClient" />
    <add name="DBPM" connectionString="metadata=res://*/DBPM.csdl|res://*/DBPM.ssdl|res://*/DBPM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HUNGPC\HUNGSQLSERVER;initial catalog=QuanLyCuaHangDienThoai;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>
